body {
	padding-top:70px;
	background: url(assets/concrete_seamless.png);
}
.user-forms {
	margin: 0 auto;
	max-width: 600px;
	background: url(assets/crossword.png);
}

/* user-login */
.gr-options-list {
	padding: 0;
	color: #303135;
	max-width: 750px;
}
.gr-options-list li {
	background: #FFFFFF;
	position: relative;
	float: left;
	height: 115px;
	width: 25%;
	border: 1px #F2F2F2 solid;
	text-align: center;
	cursor: pointer;
}
.gr-options-list li:hover {
	background: url(assets/concrete_seamless.png);
	color: #777;
	border: 2px #303135 solid;
}
.gr-options-list-item-mobile-icon {
	height: 80px;
	background: url(assets/13.png) no-repeat center;
}
.gr-options-list-item-tv-icon {
	height: 80px;
	background: url(assets/14.png) no-repeat center;
}
.gr-options-list .count {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.option-item {
	text-align: center;
	height: 125px;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	border: 5px solid #FFFFFF;
	border-width:0 5px 5px 0;
	background: #66A3C6;
}
.option-item:hover {
	color: #777;
	border: 3px #303135 solid;
	background-color: #ED6859;
}
.option-item div {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: larger;
}
.option-item img {
	float: left;
}